/*Color Variables*/

:root{
    --textWhite: #ffff;
    --backgroundGrey: #343434;
    --sortish: #090a0f;
    --merchbox: #BBB7B7;
    --footer: #D9D9D9;
    --radargul: #f8fa10;
    --kulsort: #000;
}

/*Links*/
a:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

#koeb_hover img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

/*Section 0 - Hero*/
/*hero section */

    .hero{
        width: 100vw;
        height: 90vh;
        background-color: rgba(250, 235, 215, 0);
        overflow: hidden;
        background-image: url(/images/merch/mulepose2.svg);
        background-position: center;
        background-size: cover;
        size: 100%;
        margin-left: 0;
    }
    mulepose1_2x3_bw.webp
    #hero_img{
        width: 100vw;
        height: auto;
    }

    .merch_title{
        height: 50%;
        display: flex;
        font-size: 5rem;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .merch_title h1{
        color: var(--radargul);
    }

/*Section 1 - Merch*/
    .section_merch{
        display: block;
        justify-content: center;
        height: 100%;
        overflow: visible;
        margin-top: -4rem;

    }
    /*Title*/
    .button_merch{
        display: flex;
        justify-content: center;
        padding-bottom: 4rem;
    }
    /*Produkter Container*/
    .produkter_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 10rem;
        justify-items: center;
        height: 100%;

    }

    /*Product boxes*/
    #produkt1{
        background-color: var(--merchbox);
        width: 20rem;
        height: 30rem;
        display: block;
        justify-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left:0.5rem;
        padding-right: 0.5rem;
        border-radius: 0.5rem;
    }
    #produkt2{
        background-color: var(--merchbox);
        width: 20rem;
        height: 30rem;
        display: block;
        justify-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left:0.5rem;
        padding-right: 0.5rem;
        border-radius: 0.5rem;
    }
    #produkt3{
        background-color: var(--merchbox);
        width: 20rem;
        height: 30rem;
        display: block;
        justify-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left:0.5rem;
        padding-right: 0.5rem;
        border-radius: 0.5rem;
    }
    #produkt4{
        background-color: var(--merchbox);
        width: 20rem;
        height: 30rem;
        display: block;
        justify-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left:0.5rem;
        padding-right: 0.5rem;
        border-radius: 0.5rem;
    }
    #produkt5{
        background-color: var(--merchbox);
        width: 20rem;
        height: 30rem;
        display: block;
        justify-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left:0.5rem;
        padding-right: 0.5rem;
        border-radius: 0.5rem;
    }
    #produkt6{
        background-color: var(--merchbox);
        width: 20rem;
        height: 30rem;
        display: block;
        justify-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left:0.5rem;
        padding-right: 0.5rem;
        border-radius: 0.5rem;
    }
    /*Textbox padding*/
    .produkt_txt_pad{
        padding-left: 1rem;
        margin-bottom: -1rem;
    }

/*@Media breakpoints - Responsivitet*/

    /*Laptop (large screens)*/



    /*Tablets (medium screens) Max-width 1024px*/
    @media (max-width: 1024px) {
        /*Produkter Container*/
    .produkter_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 10rem;
        justify-items: center;
        height: 100%;
    }
    }
    

    /*Mobile (small screens) Max-width 768px*/
    @media (max-width: 768px) {

        body{
            max-width: 100vw;
        }
        .produkter_container {
            grid-template-columns: 1fr; /* 1 column layout */
        }
    
        .hero {
            height: 50vh; /* Reduce hero section height */
        }
    
        .produkt_txt_pad {
            text-align: center; /* Center align text */
        }

        

    }