/*Color Variables*/

:root{
    --textWhite: #ffff;
    --backgroundGrey: #343434;
    --sortish: #090a0f;
    --merchbox: #BBB7B7;
    --footer: #D9D9D9;
    --radargul: #f8fa10;
    --kulsort: #000;
}

/*Links*/
a:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

/*Fonts*/
@font-face {
    font-family: "title_rockstar";
    src: url(/fonts/Rockstar-ExtraBold.otf);
}


/*hero section */

    .hero{
        width: 100vw;
        height: 90vh;
        background-color: rgba(250, 235, 215, 0);
        overflow: hidden;
        background-image: url(/images/stot/stotOs_banner7_5500x3094.webp);
        background-position: center;
        background-size: cover;
        size: 100%;
        margin-left: 0;
    }
    #hero_img{
        width: 100vw;
        height: auto;
    }

    .stot_title{
        height: 50%;
        display: flex;
        font-size: 5rem;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .stot_title h1{
        color: var(--radargul);
    }

/*Section 1 - Hvorfor støtte*/
    .section_hvorfor{
        display: block;
    }

    /*Section Title*/
    .title_hvorfor{

    }
    /*Textboxes*/
    .textbox_hvorfor{
        width: 50%;
        padding-top: 2rem;
        padding-bottom: 4rem;
    }
    .textbox_hvorfor p{
        width: 100%;
        font-size: 36px;
        text-align: left;
    }

    /*Grid - values*/
    .grid_values{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .grid_values p{
        font-size: 50px;
        color: var(--radargul);
    }

/*Section 2 - Hvad går støtten til*/
    .section_hvad{
        display: block;
    }

    /*Section title*/
    .title_hvad{
        display: flex;
        justify-content: center;
        padding-bottom: 3rem;
    }

    /*Textboxes*/
    .textbox_hvad{
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto;
        width: 100%;
        height: auto;
    }
    .section_hvad li{
        font-family: "title_rockstar";
        color: var(--textWhite);
        list-style-type: none;
    }
/*Section 3 - Processen*/
    .section_processen{
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: -45rem;
    }

    /*Steps container*/
    .step_container{
        width: 15rem;
        text-align: left;
    }

    .step_container p{
        width: 100%;
    }
    #step1{
        position: relative;
        left: 3rem;
        top: 4rem;
    }
    #step2{
        position: relative;
        left: 60rem;
        bottom: 15rem;
    }
    #step3{
        position: relative;
        left: 40rem;
        bottom: 10rem;
    }
    #step4{
        position: relative;
        left: 3rem;
        bottom: 30rem;
    }
    #step5{
        position: relative;
        left: 25rem;
        bottom: 25rem;
    }
    #button_doner{
        position: relative;
        left: 60rem;
        bottom: 41rem;
    }
    #button_doner:hover{
        transform: scale(1.1);
    transition: 0.3s;
    }

    /*List points*/
    li{
        font-family: 'title_rockstar';
        color: var(--textWhite);
        font-size: 2rem;
        line-height: 2rem;
    }